<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Nokia邮箱验证</title>
	<link rel="stylesheet" href="/static/public/bootstrap/css/bootstrap.min.css">
<style>
	.glyphicon-envelope{
		font-size:100px;
		color:green;
	}
</style>
</head>
<body>
	<div style='text-align:center;margin-top:100px;'><span class='glyphicon glyphicon-envelope'></span></div>
	<div style='text-align:center;margin-top:10px;'>邮箱认证状态</div>
	<div style='text-align:center;margin-top:40px;'>{{msg}}</div>
	
</body>
</html>